<br>
<br>
<h2 class="mb-5 text-lg font-medium text-gray-800 dark:text-neutral-800" id="skills">
  Habilidades
</h2>

<!-- List -->
<div class="space-y-3">
  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500">Desarrrollo:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Java,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Typescript,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Javascript,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          HTML,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          CSS,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Tailwind CSS
        </li>        
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500">Frameworks y Librerias:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Angular,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Quarkus,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Springboot,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Bootstrap
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40 inline-flex">
      <span class="block text-sm text-gray-500">Herramientas:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            GIT,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Gitlab,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Github,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Docker
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Postman,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Elasticsearch,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Jenkins,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Jira,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
            Trello
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500">Base de Datos:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          MySQL,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          PostgreSQL
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500">Testing:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          JUnit,
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800">
          Mockito
        </li>
      </ul>
    </dd>
  </dl>
</div>
<!-- End List -->