<br>
<br>
<h2 class="mb-5 text-lg font-medium text-gray-800 dark:text-neutral-800" id="experience">
  Experiencia
</h2>

<!-- Timeline -->
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img class="shrink-0 size-6 text-gray-600" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoUnitechSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        Noviembre 2022 - Presente
      </h3>

      <p class="font-semibold text-md text-gray-600">
       Desarrollador full-stack
      </p>

      <p class="mt-1 text-md text-gray-600">
        Actualmente formo parte de un equipo ágil dedicado al desarrollo de aplicaciones web y microservicios utilizando Angular, Java con Quarkus y SQL.
        Implemento prácticas de CI/CD con Jenkins y GitLab, automatizando despliegues, pruebas y análisis de calidad con SonarQube.
        Trabajo con AWS y Docker, y participo activamente en todas las ceremonias de Scrum, asegurando la entrega continua de soluciones escalables y confiables.
      </p>

    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img class="shrink-0 size-6 text-gray-600" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoBernardoLewSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        Junio 2021 - Noviembre 2022
      </h3>

      <p class="font-semibold text-md text-gray-600">
        Desarrollador full-stack
      </p>

      <p class="mt-1 text-md text-gray-600">
        Participé en el desarrollo de Orbital, una aplicación de escritorio para la gestión de laboratorios bioquímicos.
        Contribuí al diseño y mantenimiento del backend con Java, Spring Boot, Hibernate y MySQL, y al desarrollo de interfaces con React.
        Colaboré en equipos de desarrollo utilizando SVN y Git, garantizando entregas estables y de calidad.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->