<br>
<br>
<h2 class="mb-5 text-lg font-medium text-gray-800 dark:text-neutral-800" id="experience">
  Experiencia
</h2>

<!-- Timeline -->
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img class="shrink-0 size-6 text-gray-600" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoUnitechSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        Noviembre 2023 - Presente
      </h3>

      <p class="font-semibold text-md text-gray-600">
       Desarrollador full-stack
      </p>

      <p class="mt-1 text-md text-gray-600">
        Desarrollo de aplicaciones web utilizando Java, Quarkus, Angular, SQL. Implementación y mantenimiento de microservicios en la nube: AWS, asegurando CI/CD.
        Automatización de pruebas unitarias y análisis de calidad con SonarQube. Colaboración con equipos de QA y DevOps para entregas continuas y de calidad. Metodologia Agil: scrum.
      </p>

    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img class="shrink-0 size-6 text-gray-600" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoBernardoLewSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        Junio 2021 - Noviembre 2022
      </h3>

      <p class="font-semibold text-md text-gray-600">
        Desarrollador full-stack
      </p>

      <p class="mt-1 text-md text-gray-600">
        Desarrollo de aplicación de escritorio Orbital, sistema de gestión de uso bioquímico, implementada en Java, Spring Boot.
        Tecnologías utilizadas: React, Node Js, Express, MySQL. Control de versiones mediante SVN y Git.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->